<% include common/_header.ejs %>

<body>
  <% include common/_navbar.ejs %>

  <div class="container" style="width: 60%; margin: 0 auto;">
    <% for(var i=0; i < posts.length; i++) {%>
      <h1 style="text-align: right;">
        <a href=""><%= posts[i].title %></a>
      </h1>
      <hr class="rounded">
      <%- posts[i].content %>
      <br>
      <br>
    <% } %>
  </div>

</body>

</html>